        body {
            overflow: hidden;
        }
        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
        @keyframes drawBox {
            0% {
                stroke-dasharray: 0, 400;
            }
            100% {
                stroke-dasharray: 400, 0;
            }
        }
        @keyframes backgroundAnimation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(-45deg, #02c5cf, #f0334b, #23a6d5, #32ff00);
            background-size: 400% 400%;
            animation: backgroundAnimation 15s ease infinite;
            transition: background-color 0.3s, color 0.3s;
            scroll-behavior: smooth;
        }
        body.dark-mode {
            background-color: #121212;
            color: #ffffff;
        }
        #zeteo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #zeteo {
            font-size: 5rem;
            font-weight: bold;
            display: flex;
        }
        .letter {
            opacity: 0;
            animation: fadeIn 1s forwards;
        }
        .letter:nth-child(1) { animation-delay: 0.5s; }
        .letter:nth-child(2) { animation-delay: 1s; }
        .letter:nth-child(3) { animation-delay: 1.5s; }
        .letter:nth-child(4) { animation-delay: 2s; }
        .letter:nth-child(5) { animation-delay: 2.5s; }
        .letter:nth-child(6) { animation-delay: 3s; }
        #email-link {
            margin-top: 20px;
            font-size: 2rem;
            text-decoration: none;
            color: inherit;
            transition: color 0.3s;
            position: relative;
        }
        #zeteo-definition {
            font-size: 0.8rem;
            color: #000;
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
        }
        #zeteo-definition:hover {
            transform: scale(1.1);
            transform-origin: center;
            transition: transform 0.2s ease;
        }
        body.dark-mode #zeteo-definition {
            color: #ffffff;
        }
        #email-link:hover i {
            color: #007bff;
        }
        #email-link .fa-envelope {
            display: inline;
        }
        #email-link .fa-paper-plane {
            display: none;
        }
        #email-link:hover .fa-envelope {
            display: none;
        }
        #email-link:hover .fa-paper-plane {
            display: inline;
        }
        footer {
            position: absolute;
            bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8rem;
            line-height: 1.5rem;
            padding: 0 15px;
        }
        footer .left {
            display: flex;
            align-items: center;
        }
       footer .right {
           display: flex;
           align-items: center;
           margin-right: 10px;
        }
        footer a {
            color: inherit;
            text-decoration: none;
        }
        footer a:hover {
            text-decoration: underline;
        }
        footer i {
            margin-left: 10px;
            font-size: 0.8rem;
            transition: color 0.3s;
        }
        footer img.icon {
            width: 0.8rem;
            height: 0.8rem;
            margin-left: 10px;
        }
        #dark-mode-toggle {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 2rem;
            cursor: pointer;
            color: inherit;
            transition: transform 0.2s ease, color 0.3s;
        }
        #external-link {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 2rem;
            cursor: pointer;
            color: inherit;
            transition: transform 0.2s ease, color 0.3s;
        }
        #external-link:hover {
            transform: scale(1.2);
            transition: transform 0.2s ease;
        }
        #logo-container {
            margin-top: 20px;
            position: relative;
            width: 120px;
            height: 120px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px; 
        }
        #logo {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100px;
            height: auto;
            opacity: 0;
            transition: opacity 1s ease;
        }
        #logo:hover {
            transform: scale(1.1);
            transform-origin: center;
            transition: transform 0.2s ease;
        }
        #logo-box {
            animation: drawBox 3s forwards;
            animation-delay: 3s; 
        }
        body.dark-mode #logo {
            filter: invert(1);
        }
        footer a:hover i {
            color: #007bff;
            transform: scale(1.5);
            transition: transform 0.2s ease;
        }
        #dark-mode-toggle:hover {
            transform: scale(1.2);
            transition: transform 0.2s ease;
        }
        .custom-cursor {
            cursor: url('img/cursor.png'), auto; /* Ensure the path is correct */
        }
        .tooltip {
            position: relative;
            display: inline-block;
        }
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }